#progress {
    position: relative;
    margin-bottom: 30px;
     margin-left: 5%;
    margin-right: 5%; 
    width:100%;
    align-items: center;
  }
  #progress-bar {
    position: absolute;
    background: #2169B2;
    height: 5px;
    width: 0%;
    top: 50%;
    left: 0;
  }
  #progress-num {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  #progress-num::before {
    content: "";
    background-color: lightgray;
    position: absolute;
    top: 50%;
    left: 0;
    height: 5px;
    width: 100%;
    z-index: -1;
  }
  #progress-num .step {
    border: 3px solid lightgray;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background-color: #fff;
    font-family: sans-serif;
    font-size: 14px;  
    position: relative;
    z-index: 1;
  }
  #progress-num .step.active {
    border-color: #2169B2;
    background-color: #2169B2;
    color: #fff;
  }
  #progress-num .step.unactive {
    border-color: lightgray;
    background-color: lightgray;
     color: black; 
  }
  .btn {
      background: lightgray;    
      border: none;
      border-radius: 3px;
      padding: 6px 12px;   
  }
  /* .container {
    display: flex;
    justify-content: space-between;
  }   */
  .switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;
  }
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #2196F3;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 10px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
